target/*
Cargo.lock
biosynth.exe
biosynth.wasm
evolve.exe
neuro.json
src/ui.rs
saves/*
dist/assets/fonts/firacode.ttf
dist/assets/fonts/jetbrain_medium.ttf
dist/assets/ico/folder_icon.ico
dist/assets/ico/microbes.ico
dist/assets/ico/microbes.png
dist/assets/ico/synaptic.ico
dist/assets/img/8866035.png
dist/assets/img/evolve.png
dist/assets/img/evolve2.png
dist/assets/img/folder_icon.png
dist/assets/img/icon.png
dist/assets/img/icon2.png
dist/assets/img/logo.png
dist/assets/img/microbes.png
dist/assets/img/microbes32.png
dist/assets/img/synaptic.png
dist/assets/img/synaptic32.png
dist/assets/img/synaptic64.png
dist/assets/img/synaptic128.png
dist/assets/img/synaptic256.png
dist/saves/agents/agent14422322608840114176.json
dist/saves/simulations/Simulation70.json
