dist/*
target/*
Cargo.lock
biosynth.exe
biosynth.wasm
evolve.exe
neuro.json
src/ui.rs
saves/*
Cargo.toml
evolve2.zip
dist/evolve2.rar
dist/evolve2.rar
evolve/*
evolve.rar
evo2/assets/biome.ico
evo2/assets/fonts/firacode.ttf
evo2/assets/fonts/jetbrain_medium.ttf
evo2/assets/ico/bio.ico
evo2/assets/ico/biome256.ico
evo2/assets/ico/folder_icon.ico
evo2/assets/ico/folder.ico
evo2/assets/ico/microbes.ico
evo2/assets/ico/microbes.png
evo2/assets/ico/microbes2.ico
evo2/assets/ico/synaptic.ico
evo2/assets/img/8866035.png
evo2/assets/img/bio.png
evo2/assets/img/biome.png
evo2/assets/img/biome32.png
evo2/assets/img/biome64.png
evo2/assets/img/biome128.png
evo2/assets/img/biome256.png
evo2/assets/img/evolve.png
evo2/assets/img/evolve2.png
evo2/assets/img/folder_icon.png
evo2/assets/img/folder.png
evo2/assets/img/icon.png
evo2/assets/img/icon2.png
evo2/assets/img/logo.png
evo2/assets/img/microbes.png
evo2/assets/img/microbes2.png
evo2/assets/img/microbes32.png
evo2/assets/img/synaptic.png
evo2/assets/img/synaptic32.png
evo2/assets/img/synaptic64.png
evo2/assets/img/synaptic128.png
evo2/assets/img/synaptic256.png
evo2/saves/last.json
evo2/saves/agents/DIFWTJUL-19.agent
evo2/saves/agents/FEXANOMZ-247.agent
evo2/saves/agents/FEXANOMZ-379.agent
evo2/saves/agents/FLHSRPPW-60.agent
evo2/saves/agents/IFCSPERF-101.agent
evo2/saves/agents/IFCSPERF-120.agent
evo2/saves/agents/JIDTLZCO-64.agent
evo2/saves/agents/LZOJTTWU-1.agent
evo2/saves/agents/VJCDJPDU-1.agent
evo2/saves/simulations/crazy terrain/113251.sim
evo2/saves/simulations/crazy terrain/123098.sim
evo2/saves/simulations/crazy terrain/133098.sim
evo2/saves/simulations/crazy terrain/143098.sim
evo2/saves/simulations/crazy terrain/153098.sim
evo2/saves/simulations/crazy terrain/163098.sim
evo2/saves/simulations/crazy terrain/173098.sim
evo2/saves/simulations/crazy terrain/174098.sim
evo2/saves/simulations/crazy terrain/175098.sim
evo2/saves/simulations/crazy terrain/176098.sim
evo2/saves/simulations/crazy terrain/176929.sim
evo2/saves/simulations/crazy terrain/177929.sim
evo2/saves/simulations/crazy terrain/last.json
evo2/saves/simulations/crazy terrain/last.sim
evo2.rar
evolve2.rar
old/last.json
old/agents — kopia/CETISOLO-0.agent
old/agents — kopia/DIFWTJUL-19.agent
old/agents — kopia/FEXANOMZ-247.agent
old/agents — kopia/FEXANOMZ-379.agent
old/agents — kopia/FLHSRPPW-60.agent
old/agents — kopia/IFCSPERF-101.agent
old/agents — kopia/IFCSPERF-120.agent
old/agents — kopia/JIDTLZCO-64.agent
old/agents — kopia/LZOJTTWU-1.agent
old/agents — kopia/VJCDJPDU-1.agent
evo.rar
evolution.rar
